@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.
    <P>Throughout the years, videogames have become digitalized, prohibiting customers to exchange their game for monetary value. When a digital copy is purchased, the players cannot claim any ownership as they would with a physical version. Instead, the gamers are awarded with a code that enables them to play. Essentially, this technological advancement has denied customers the satisfaction of procuring a new game at a discount or receiving credit for returning a used one. DG Trade Ins software was created to resolve this matter. 
    </P>
    </h2>


